.core {
  fill: transparent;
  transition: fill 0.3s 0.05s;
}

.card__icon-button:hover .core {
  fill: var(--themes-heart-color);
  transition: fill 0.3s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.card__icon-button:hover .main-body {
  fill: var(--themes-heart-color);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-red-color);
  transition: fill 0.3s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-red-color);
  transition: fill 0.3s 0.05s;
}

.contour {
  fill: var(--themes-heart-color);
  transition: fill 0.1s;
}

.sparks {
  opacity: 0;
}

.is-liked .core {
  fill: var(--heart-red-color);
  transition: fill 0.3s;
}

.is-liked .main-body {
  fill: var(--heart-red-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-red-color);
  transition: fill 0.3s 0.06s;
}

.card__icon-button:hover .is-liked .core {
  fill: var(--heart-red-color);
}

.card__icon-button:hover .is-liked .main-body {
  fill: var(--heart-red-color);
}

.card__icon-button .is-liked {
  animation: heart-beat 0.3s ease-in 0.1s,
    heart-beat 0.3s ease-in reverse 0.1s;
}

.is-liked .sparks {
  animation: opacity-sparks 0.3s ease-in 0.3s,
    opacity-sparks 0.3s ease-in reverse 0.3s;
}

@keyframes move-arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes opacity-sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}