.theme-menu__button {
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible {
  transition: opacity 0.3s ease;
}

.theme-menu__button:after {
  transition: width 0.3s ease;
}

.core {
  transition: fill 0.3s 0.05s;
}

.card__icon-button:hover .core {
  transition: fill 0.3s;
}

.main-body {
  transition: fill 0.3s;
}

.card__icon-button:hover .main-body {
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .core {
  transition: fill 0.3s;
}

.card__icon-button:active .main-body {
  transition: fill 0.3s 0.05s;
}

.contour {
  transition: fill 0.1s;
}

.is-liked .core {
  transition: fill 0.3s;
}

.is-liked .main-body {
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s;
}

.card__icon-button .is-liked {
  animation: heart-beat 0.3s ease-in 0.1s,
    heart-beat 0.3s ease-in reverse 0.1s;
}

.is-liked .sparks {
  animation: opacity-sparks 0.3s ease-in 0.3s,
    opacity-sparks 0.3s ease-in reverse 0.3s;
}

.card__like-button:focus-visible {
  transition: box-shadow 0.6s ease;
}

.card__like-button::after {
  transition: 0.5s ease-in-out;
}

.save-button:focus-visible {
  transition: box-shadow 0.6s ease;
}

.save-button::after {
  transition: 0.5s ease-in-out;
}

.pop-up__button:focus-visible {
  transition: box-shadow 0.6s ease;
}

.pop-up__button::after {
  transition: 0.5s ease-in-out;
}

@keyframes move-arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes opacity-sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}